# Core App & Brain
openai
pydub
sounddevice
soundfile
numpy

# TTS-Engine Dependencies
requests
pygame
aiohttp
aiofiles
python-dotenv
edge-tts

# VibeVoice & STT Dependencies
vosk
git+https://github.com/openai/whisper.git